@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
h1,
h2,
h3,
h4 {
  letter-spacing: 0.25rem;
  font-weight: normal;
}

h1 {
  font-size: 1.75rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 1.125rem;
  font-weight: 700;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
  display: none;
}

html,
body {
  overflow-x: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
  width: 100vw;
  display: grid;
  grid-template-areas: "Navigation" "Section" "Footer";
}

header {
  grid-area: Navigation;
  width: 100vw;
  height: 4rem;
  position: fixed;
  top: 0;
  z-index: 1000;
}
header nav {
  width: 100vw;
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: 2rem 1fr 2rem;
  grid-template-areas: "LeftSide Center RightSide" ". Links .";
}
header nav a {
  text-decoration: none;
}
header nav ul li {
  width: 100%;
  margin: 0.5rem 0;
  list-style: none;
  text-align: center;
}
header nav .leftSide {
  grid-area: LeftSide;
}
header nav .leftSide .left-menu {
  display: none;
}
header nav .center {
  grid-area: Center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
header nav .center .dropdown {
  display: none;
  flex-direction: column;
  align-items: center;
  animation-name: dropdown;
  animation-duration: 5s;
  transition-property: opacity;
  opacity: 0;
}
header nav .center .dropdown.is-active {
  display: flex;
  opacity: 1;
}
header nav .rightSide {
  display: flex;
  align-items: center;
  justify-content: center;
}
header nav .rightSide .hamburger {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
header nav .rightSide .hamburger h1 {
  transform: rotate(90deg);
  line-height: 1rem;
  letter-spacing: 0;
  transition: all 1s ease-in-out;
}
header nav .rightSide .hamburger h1.top.is-active {
  transform: rotate(45deg);
  position: absolute;
  transition: all 1s ease-in-out;
}
header nav .rightSide .hamburger h1.middle.not-active {
  opacity: 0;
  transition: all 1s ease-in-out;
}
header nav .rightSide .hamburger h1.bottom.is-active {
  transform: rotate(-45deg);
  position: absolute;
  transition: all 1s ease-in-out;
}
header nav .rightSide .right-menu {
  display: none;
}

@keyframes dropdown {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes hamburger {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@media screen and (min-width: 1200px) {
  header nav {
    grid-template-columns: 1fr 22rem 1fr;
  }
  header nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  header nav ul li {
    margin: 1rem;
  }
  header nav .leftSide {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  header nav .leftSide .left-menu {
    display: flex;
  }
  header nav .center .dropdown.is-active {
    display: none;
  }
  header nav .rightSide {
    justify-content: flex-start;
  }
  header nav .rightSide .hamburger {
    display: none;
  }
  header nav .rightSide .right-menu {
    display: flex;
  }
}
button {
  cursor: pointer;
  border: none;
  padding: 0.5rem;
  width: fit-content;
  height: fit-content;
}

section {
  grid-area: Section;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding: 0 1rem;
  margin-top: 4rem;
  gap: 1rem;
}
section.front-page, section.signup, section.login, section.reset {
  justify-content: center;
  margin: 0;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
  height: fit-content;
  max-width: 1000px;
  padding: 0.5rem;
  text-align: center;
}

p {
  line-height: 1.25;
  font-size: 1rem;
}

p.legal {
  font-size: 10px;
}

p.question {
  padding: 1rem 1rem 0.5rem 1rem !important;
}

p.answer {
  padding: 0.5rem 1rem 1rem 1rem !important;
}

footer {
  grid-area: Footer;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1rem;
  margin-top: 1rem;
}
footer p.legal {
  text-align: center;
}

.gallery {
  display: grid;
  grid-template-areas: "LArrow View RArrow";
  grid-template-columns: auto minmax(min-content, 1000px) auto;
  column-gap: 0.5rem;
  width: 100%;
  height: 20rem;
  justify-content: center;
}
.gallery .image-card {
  display: flex;
  align-items: center;
  justify-content: center;
  place-self: center;
  width: fit-content;
  height: inherit;
}
.gallery .image-card img {
  max-width: 100%;
  max-height: 100%;
}
.gallery .leftArrow {
  grid-area: LArrow;
  cursor: pointer;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.gallery .leftArrow .arrow {
  transform: rotate(90deg);
}
.gallery .gallery-card.card {
  grid-area: View;
}
.gallery .rightArrow {
  grid-area: RArrow;
  cursor: pointer;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.gallery .rightArrow .arrow {
  transform: rotate(-90deg);
}

.list {
  display: grid;
  row-gap: 2rem;
}

.photo-link {
  font-size: 0;
}

.logo a {
  padding: 0.25rem;
}
.logo a img {
  width: 100%;
  max-width: 44rem;
  height: auto;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

/*# sourceMappingURL=main.css.map */
