@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
:root {
  font: inherit;
  font-size: 100%;
}

section.blog {
  margin: 6rem 0;
}

h1,
h2,
h3,
h4,
h5 {
  letter-spacing: 0.25rem;
  margin-right: -0.25rem;
  font-weight: unset;
}

h1 {
  font-size: 1.75rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 1.125rem;
}

h5 {
  font-size: 1.1rem;
}

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
  display: none;
}

html {
  font-size: 100%;
}

html,
body {
  overflow-x: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body {
  overflow: hidden;
  width: 100vw;
  position: relative;
  min-height: 100vh;
}

.header {
  align-items: center;
  justify-content: center;
}
.header .leftSide {
  display: none;
}
.header .center {
  width: 100%;
}
.header .right-menu {
  display: none;
}

.hamburger {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  position: relative;
  right: 2rem;
}
.hamburger h1 {
  position: absolute;
  text-align: center;
  margin: 0;
  padding: 0;
  transform: rotate(90deg);
  animation: hamburger 1.5s ease-in alternate;
}
.hamburger .top.not-active {
  opacity: 0;
  animation: none;
}
.hamburger .middle.not-active {
  opacity: 0;
  animation: none;
}
.hamburger .bottom {
  bottom: 0;
}
.hamburger .bottom.not-active {
  opacity: 0;
  animation: none;
}
.hamburger h1.close {
  font-family: Roboto;
  opacity: 0;
  transform: none;
  animation: none;
  color: red;
}
.hamburger h1.close.is-active {
  opacity: 1;
  animation: hamburger 1.5s infinite alternate;
}
.hamburger .right-menu {
  display: none;
}

@media screen and (min-width: 700px) {
  header .header {
    justify-content: space-evenly;
  }
  header .header .leftSide {
    grid-area: LeftSide;
    display: flex;
    position: relative;
    justify-content: end;
  }
  header .header .leftSide .auth {
    position: absolute;
    left: 1rem;
  }
  header .header .center {
    width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  header ul {
    flex-direction: row;
    width: 100%;
  }
  header .header {
    display: grid;
    grid-template-areas: "LeftSide Center RightSide";
    grid-template-columns: 1fr auto 1fr;
    white-space: nowrap;
    overflow: hidden;
  }
  header .header .leftSide {
    justify-content: start;
    margin-left: 2rem;
  }
  header .header .leftSide .auth {
    display: none;
  }
  header .header .leftSide .left-menu {
    display: flex;
    width: 100%;
  }
  header .header .leftSide .left-menu .menu-left-menu-container {
    width: 100%;
  }
  header .header .center {
    max-width: 1000px;
  }
  header .header .rightSide {
    justify-content: end;
    margin-right: 2rem;
  }
  header .header .rightSide .hamburger {
    display: none;
  }
  header .header .rightSide .right-menu {
    display: flex;
    width: 100%;
  }
  header .header .rightSide .right-menu .menu-right-menu-container {
    width: 100%;
  }
  header nav.dropdown.is-active {
    display: none;
  }
}
header {
  grid-area: Navigation;
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100vw;
  opacity: 0.85;
  padding: 0.25rem 0;
  overflow: auto;
}
header a {
  text-decoration: none;
  list-style: none;
}
header ul {
  display: flex;
  align-items: center;
  gap: 0.5em;
  width: 100%;
}
header ul li {
  width: 100%;
  list-style: none;
}
header ul li h2 {
  padding: 0.25em;
}
header ul li:hover {
  background-color: black;
}
header ul li:hover h2 {
  color: white;
}
header h3 {
  text-transform: uppercase;
}
header .header {
  display: flex;
  width: 100%;
  height: 4rem;
  overflow: hidden;
}
header .header .leftSide,
header .header .rightSide {
  align-items: center;
  height: 100%;
}
header .header .left-menu {
  display: none;
}
header .header .center {
  grid-area: Center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 4rem;
  padding: 0 1rem;
}
header .header .center .logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  height: 100%;
}
header .header .rightSide {
  grid-area: RightSide;
  display: flex;
  justify-content: end;
  position: relative;
}
header nav.dropdown {
  display: none;
}
header nav.dropdown {
  display: none;
  flex-direction: column;
  gap: 0.75em;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 0;
  max-height: 100vh;
  transition: height 2s;
}
header nav.dropdown.is-active {
  display: flex;
  height: 100%;
}
header nav.dropdown ul {
  flex-direction: column;
}
header nav.dropdown .menu-top-container {
  overflow: hidden;
}
header nav.dropdown .menu-top-container .menu {
  display: grid;
  grid-auto-rows: 4rem;
}
@keyframes dropdown {
  0% {
    display: none;
    height: 0;
    opacity: 0;
  }
  100% {
    display: flex;
    height: fit-content;
    opacity: 1;
  }
}
@keyframes hamburger {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

button,
.search-submit {
  cursor: pointer;
  border: none;
  width: fit-content;
  height: fit-content;
}
button h2,
button h3,
.search-submit h2,
.search-submit h3 {
  padding: 0.5em;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  padding: 0 1rem;
  gap: 1.5rem;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.75rem;
  height: fit-content;
  max-width: 1000px;
  padding: 0.75rem;
  text-align: center;
  opacity: 0.85;
}

p {
  line-height: 1.5em;
  font-size: 1rem;
}

p.question {
  padding: 1rem 1rem 0.5rem 1rem !important;
}

p.answer {
  padding: 0.5rem 1rem 1rem 1rem !important;
}

footer {
  grid-area: Footer;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  bottom: 0;
}
footer .legal {
  font-size: 0.8rem;
  text-align: center;
  padding: 0.5em;
}

.content {
  width: 100%;
}
.content p {
  max-width: 1000px;
}

.archive a {
  text-decoration: none;
}

.title {
  text-align: center;
  text-transform: uppercase;
}
.title span {
  text-transform: lowercase;
}

.photo-link {
  font-size: 0;
}

@media screen and (max-width: 400px) {
  html {
    font-size: 14px;
  }
}
@media screen and (min-width: 750px) {
  html {
    font-size: 18px;
  }
}
@media screen and (min-width: 1200px) {
  html {
    font-size: 20px;
  }
}
.logo a img {
  width: 100%;
  height: auto;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}
main.error {
  justify-content: center;
  min-height: 100vh;
}

.comment-card.card {
  position: relative;
  width: fit-content;
}
.comment-card.card header {
  position: relative;
  width: 100%;
  box-shadow: unset;
  display: grid;
  grid-template-areas: "avatar author" "avatar date" "avatar time";
  gap: 0.5em;
  z-index: 100;
  grid-template-columns: max-content max-content;
}
.comment-card.card header .comment-author-avatar {
  grid-area: avatar;
}
.comment-card.card header .comment-author {
  grid-area: author;
  text-align: left;
}
.comment-card.card header .comment-date {
  grid-area: date;
  text-align: left;
}
.comment-card.card header .comment-time {
  grid-area: time;
  text-align: left;
}
.comment-card.card .comment-text {
  width: 100%;
  text-align: left;
}
.comment-card.card footer {
  width: 100%;
}
.comment-card.card footer .comment-respond form {
  align-items: flex-start;
}
.comment-card.card footer .comment-respond form .comment-notes {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}
.comment-card.card footer .comment-respond form .comment-form-cookies-consent {
  display: flex;
}
.comment-card.card footer .comment-respond form .comment-form-cookies-consent label {
  margin: 0.5em;
}
.comment-card.card footer .comment-respond form .form-submit {
  align-self: center;
}

section.post {
  margin: 6rem 0;
}
section.post .post-card {
  min-width: 300px;
}
section.post .post-card .post-featured-image a {
  font-size: 0;
}
section.post .post-card .post-featured-image a img {
  width: 100%;
  max-height: 12.5rem;
}

input,
.search-field,
select,
.select,
textarea {
  border: none;
  outline: none;
  background: none;
  padding: 0.5em;
}
input.input-email, input.input-password, input.input-username, input.input-name,
.search-field.input-email,
.search-field.input-password,
.search-field.input-username,
.search-field.input-name,
select.input-email,
select.input-password,
select.input-username,
select.input-name,
.select.input-email,
.select.input-password,
.select.input-username,
.select.input-name,
textarea.input-email,
textarea.input-password,
textarea.input-username,
textarea.input-name {
  min-width: 14rem;
  min-height: 2.25rem;
}
input.input-phone,
.search-field.input-phone,
select.input-phone,
.select.input-phone,
textarea.input-phone {
  min-width: 12rem;
  min-height: 2.25rem;
}

input[type=text],
input[type=email],
input[type=password],
input[type=tel] {
  font-size: 1rem;
}

textarea {
  min-height: 6rem;
  height: fit-content;
  overflow: hidden;
}

input[type=checkbox] {
  cursor: pointer;
  width: 1.25rem;
  height: 1.25rem;
}

label {
  display: block;
  text-align: left;
  margin: 0.25rem;
}

.input-error {
  color: red;
}

section.search {
  margin: 6rem 0;
}

.search-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.75rem;
}

.search-field {
  max-width: 500px;
  width: 50vw;
}

.search-submit {
  font-size: 1.25rem;
  padding: 0.5em;
}

.search-author-list {
  display: flex;
  flex-direction: row;
  gap: 0.75rem;
}

.search-category-list li {
  list-style: none;
}
.search-category-list li h3 {
  padding: 0.375rem;
}

section.tags {
  margin: 6rem 0;
}

.tag-list {
  display: flex;
  flex-direction: row;
  gap: 0.375rem;
}
.tag-list li {
  list-style: none;
}

.tag-btn {
  background-color: unset;
  box-shadow: none;
  color: black;
}

.tag-btn:hover {
  background-color: black;
  color: white;
  border-radius: 1.5em;
}

section.category {
  margin: 6rem 0;
}

.post-category {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0.75rem;
}

.category-name:hover {
  font-weight: 700;
}

.category-link {
  text-decoration: none;
}

section.author {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  width: 100%;
  margin: 6rem 0;
  flex-wrap: wrap;
}
section.author div.author {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  width: 100%;
  flex-wrap: wrap;
}
section.author div.author .author-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}
section.author div.author .author-info .author-roles-row {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
  gap: 1.5rem;
}
section.author div.author .author-info .author-roles-row .title {
  padding: 0.5em;
}
section.author div.author .author-info .author-roles-row h4:not(:last-child)::after {
  content: "|";
  position: absolute;
  padding: 0 1rem;
}
section.author div.author .author-bio {
  width: fit-content;
}

.author-pic {
  width: auto;
  padding: 0;
  font-size: 0;
}
.author-pic img {
  width: auto;
  height: 100%;
}

.author-card.card {
  gap: 0.374rem;
  height: fit-content;
  padding: 0;
  max-width: 500px;
}
.author-card.card .author-role,
.author-card.card .author-bio,
.author-card.card .author-contact {
  width: 100%;
  padding: 0.5rem;
}
.author-card.card .author-role h5 {
  text-transform: capitalize;
}
.author-card.card p {
  text-align: left;
  height: 100%;
}
.author-card.card .author-contact button {
  background-color: white;
  width: fit-content;
  padding: 0;
  margin: 0;
}
.author-card.card .author-contact button i {
  color: black;
}

details summary {
  display: flex;
  justify-content: center;
  align-items: center;
}
details summary::after {
  content: "►"; /* Unicode arrow symbol */
  margin-left: 5px; /* Adjust the value as needed */
}
details summary::after {
  display: none;
}
details .post-category {
  padding: 0.375rem 0;
}

i {
  font-size: 1.5rem;
}

button.sign {
  padding: 0.25em;
  box-shadow: var(--orb-box-shadow-btn);
  animation: sign 2s infinite alternate;
}

button.sign:hover {
  box-shadow: none;
}
button.sign:hover.start-sign i {
  color: green;
}
button.sign:hover.start-sign h2,
button.sign:hover.start-sign h3 {
  color: green;
}
button.sign:hover.enter-sign {
  background-color: green;
  border: 0.25em solid white;
}
button.sign:hover.enter-sign h2,
button.sign:hover.enter-sign h3 {
  color: white;
}
button.sign:hover.exit-sign {
  background-color: white;
  border: 0.25em solid red;
}
button.sign:hover.exit-sign h2,
button.sign:hover.exit-sign h3 {
  color: red;
}

@keyframes start {
  0% {
    background-color: black;
  }
  100% {
    background-color: green;
    color: white;
    border: 0.25em solid white;
  }
}
@keyframes enter {
  0% {
    background-color: black;
  }
  100% {
    background-color: green;
  }
}
@keyframes exit {
  0% {
    background-color: black;
  }
  100% {
    background-color: red;
    color: white;
    border: 0.25em solid white;
  }
}
header .leftSide .left-menu,
header .rightSide .right-menu {
  gap: 0.75em;
  align-items: center;
}

section.page-404 {
  margin-top: 6rem;
}

.tax-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.tax-list .tax-row {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.member-card.card {
  gap: 0.374rem;
  height: fit-content;
  padding: 0;
  min-width: 300px;
  max-width: 500px;
}
.member-card.card .member-role,
.member-card.card .member-bio,
.member-card.card .member-contact {
  width: 100%;
  padding: 0 0.5rem;
}
.member-card.card .member-role h5 {
  text-transform: capitalize;
}
.member-card.card p {
  text-align: left;
  height: 100%;
}
.member-card.card .member-contact button {
  background-color: white;
  width: fit-content;
  padding: 0;
  margin: 0;
}
.member-card.card .member-contact button i {
  color: black;
}

section.page {
  margin: 6rem 0;
}

.author-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.author-list .author-row {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}

/*# sourceMappingURL=main.css.map */
