h1,
h2,
h3,
h4,
h5 {
  letter-spacing: 0.25rem;
  margin-right: -0.25rem;
  font-weight: unset;
}

h1 {
  font-size: 1.75rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 1.125rem;
}

h5 {
  font-size: 1.1rem;
}
