h1,
h2,
h3,
h4 {
  letter-spacing: .25rem;
  font-weight: bold;
}

h1 {
  font-size: 1.75rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 1.125rem;
}

a {
  text-decoration: none;
}

a,
strong {
  letter-spacing: .1rem;
}

strong {
  font-weight: 550;
}