input,
.search-field,
select,
.select,
textarea {
  border: none;
  outline: none;
  background: none;
  padding: 0.5em;
}

textarea {
  min-height: 6rem;
  height:fit-content;
  overflow: hidden;            
}

input[type="checkbox"] {
  cursor: pointer;
  width: 1.25rem;
  height: 1.25rem;
}

label {
  display: block;
  text-align: left;
  margin: .25rem;
}

.input-error {
  color: red;
}