p {
    line-height: 1.5em;
    font-size: 1rem;
}

p.legal {
    font-size: 10px;
}

p.question {
    padding: 1rem 1rem .5rem 1rem !important;
}

p.answer {
    padding: .5rem 1rem 1rem 1rem !important;
}
  