section.post {
  margin: 6rem 0;

  .post-card {
    min-width: 300px;

    .post-featured-image {
      a {
        font-size: 0;
        img {
          width: 100%;
          max-height: 12.5rem;
        }
      }
    }
  }
}
