section.project {

    .card {
        margin: 1rem auto;
        width: 90%;
    }

    .project-type .card {

        p {
            margin: 0;
            font-weight: 700;
        }
    }

    .project-description {
        margin: .5rem 0;
        
        p {
            margin: 0;
        }
    }
}