.schedule {
    flex-direction: column;
    align-items: center;
    row-gap: 2rem;

    .schedule-card {
        display: flex;
        align-items: center;
        overflow: hidden;
        
        form {
            display: grid;
            grid-template-areas: "date date time"
                                "email email phone"
                                "name name name"
                                "street street street"
                                "city state zipcode";
            gap: 1rem;

            input {
                width: 100%;
            }

            .date {
                grid-area: date;
            }

            .time {
                grid-area: time
            }

            .name {
                grid-area: name;
            }

            .email {
                grid-area: email;
            }

            .phone {
                grid-area: phone;
            }
            
            .street {
                grid-area: street;
            }

            .city {
                grid-area: city;
            }

            .state {
                grid-area: state;
            }

            .zipcode {
                grid-area: zipcode;
            }
        }
    }
}
