@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

section {
  grid-area: Section;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  min-height: 100vh;
  padding: 0 1rem 1.5rem;
  margin-top: 5rem;
  gap: 1.5rem;
}