table {
    width: 100%;

    th,
    td {
        padding: .25rem;
    }

    th {
        background-color: black;
        color: white;
        text-align: center;
    }

    thead {

        tr {

            th {

                h4 {
                    &.invoice-total-due,
                    &.invoice-total-due-number {
                        text-align: right;
                    }
                }
            }
        }
    }

    tbody {

        tr {

            td {
                
                p {
                    font-size: 1.25rem;
                    
                    &.cost,
                    &.invoice-cost {
                      text-align: right;
                      letter-spacing: .25rem;
                    }
                }        
            }
        }
    }

    tfoot {

        tr {
    
            th {
                
                h4 {
                    text-align: right;
                }
            }
            
            td {    
                &.invoice-tax-rate {
                    opacity: 0;
                }
                
                h4 {
                    &.invoice-subtotal,
                    &.invoice-tax-number {
                        text-align: right;
                    }    
                }
            }
        }
    }
}
