.tax-list {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  gap: 1rem;

  .tax-row {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
  }
}
